body {
  font-family: "Muli", sans-serif;
  color: #584153;
  font-weight: 700;
}
#button-current-city,
#button-search-city {
  border-radius: 50%;
  background-color: #ad7aa6;
  border: none;
  width: 50px;
  height: 50px;
  color: #f4f4f4;
  font-size: 1.2em;
  transition: all 0.2s ease-in-out;
}

#button-current-city:hover,
#button-search-city:hover {
  background-color: #96648f;
}

h1 {
  font-size: 3em;
  font-weight: 700;
  color: #584153;
}
.temperature {
  line-height: 1;
  font-size: 2.7em;
  font-weight: 700;
  text-align: right;
}
.weather-app-icon {
  width: 100%;
}
.weather-icon {
  width: 30%;
}
.image-size-cover {
  width: 100%;
}
.forecast,
.main {
  /* border: 2px solid #ad7aa6; */
  border: none;
  border-radius: 20px;
  padding: 20px;
  margin: 20px auto;
  max-width: 700px;
  background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
}
.forecast-image {
  width: 75%;
  margin: 0 auto;
  display: block;
}
.secondary-info,
.cities,
.forecast-info {
  font-size: 0.9em;

  font-weight: 700;
}
.forecast-week-day {
  text-decoration: underline;
  font-size: 1em;
}
.divider {
  border-right: 2px solid #ad7aa6;
}
.icon {
  height: 70px;
}
.btn-celcius-farenheit {
  background-color: transparent;
  border: none;
  font-weight: 700;
}
.forecast-temp {
  font-size: 0.9em;
  line-height: 1.2;
  margin-top: 4px;
}
.description {
  text-transform: capitalize;
}
.city-link {
  color: #584153;
  transition: all 0.2s ease-in-out;
}
.city-link:hover,
.city-link:focus {
  color: #584153;
  background-color: #edcee8;
  padding: 4px 8px;
  border-radius: 8px;
  text-decoration: none;
}

.active {
  color: #584153;
  cursor: default;
  transition: all 0.2s ease-in-out;
}
.inactive {
  color: #c9a3c3;
  transition: all 0.2s ease-in-out;
}
.active:hover {
  text-decoration: none;
}
.inactive:hover {
  text-decoration: none;
  background-color: #edcee8;
  padding: 2px 4px;
  border-radius: 8px;
  color: #584153;
}
